body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #f8f8f8;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffffee;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 15px 30px;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    transition: 0.2s ease;
}

.navbar a:hover {
    color: #007bff;
}


.header {
    padding: 80px 20px;
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


.avatar {
    object-position: bottom;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #007bff;
}

.nama {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 700;
}

.deskripsisaya {
    max-width: 950px;
    margin: 15px auto;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

.download-cv {
    display: inline-block;
    margin-top: 10px;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.download-cv:hover {
    background: #005fcc;
}

.portfolio {
    padding: 40px 20px;
}

.portfolio h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: auto;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

.card h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.card .iconapk {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    margin: 0;
    font-size: 18px;
}

.card p {
    margin: 5;
    font-size: 14px;
    opacity: 0.8;
}

.kontak {
    padding: 40px 20px;
    background: white;
    margin-top: 30px;
}

.kontak-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: auto;
    justify-content: center;
}

.kontak-item {
    background: #adadad;
    padding: 12px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
}

.kontak-item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 8px;
}

.kontak-item:hover {
    background: #777777;
}
